<!DOCTYPE html>
<html>
    <head>
        {include file="../public/pageheader.html"}
        <script src="__JS__/utils.js"></script>
    </head>
    <body>
        <div class="list-div" id="listDiv">
            <table width="100%" cellspacing="1" cellpadding="2" id="list-table">
                <tr>
                    <th align="left" style="padding-left: 35px;">id</th>
                    <th align="left" style="padding-left: 35px;">分类名称</th>
                    <th align="left" style="padding-left: 35px;">链接</th>
                    <th align="left" style="padding-left: 35px;">描述</th>
                    <th align="left" style="padding-left: 35px;">名称</th>
                    <th>{$lang.handler}</th>
                </tr>
                {foreach from=$drawslist item=item}
                <tr align="left">
                    <td align="center">{$item.id}</td>
                    <td align="center">{$item.name}</td>
                    <td align="center">{$item.name}</td>
                    <td align="center">{$item.name}</td>
                    <td align="center">{$item.name}</td>
                    <td width="30%" align="center" class="nowrap" valign="top">
                        {if checkPriv('/admin/permission/editAction')}<a href='/admin/category/editCategory/id/{$item.id}'>编辑</a>{/if}
                        {if checkPriv('/admin/permission/deleteAction')}<a href='/admin/category/deleteCategory/id/{$item.id}'>删除</a>{/if}
                    </td>
                </tr>
                {/foreach}
            </table>
        </div>
    </body>
</html>
