<!doctype html>
<html lang="zh-CN">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta name="format-detection" content="telephone=no, email=no" />
        <meta name="Keywords" content="{$keywords}" />
        <meta name="" content="" />
        <title>投诉</title>
        <link rel="stylesheet" href="__HTIME__/css/complaint.css">
        <script src="__HTIME__/js/jquery.min.js"></script>
        <script src="__HTIME__/js/selfadaption.js"></script>
    </head>

    <body id="page3">
        <div class="container">
            <div class="complain-success">
                <div class="complain-success-img">
                    <img src="__HTIME__/images/complain-get-icon.png">
                </div>
                <div class="complain-success-text">
                    <span class="complain-success-text-title">投诉成功</span><br/>
                    <span class="complain-success-text-content">感谢你的参与，微信坚决反对色情、暴力、欺诈等违规信息，我们会认真处理你的投诉，维护绿色、健康的网络环境。</span>
                </div>
            </div>
            <button class="complaint-reson-page-next-step-btn">确定</button>
        </div>
    </body>
    <script>
        $(".complaint-reson-page-next-step-btn").click(function () {
            window.location.href = "http://www.qq.com/";
        });
    </script>
</html>
