{include file="../public/pageheader.html"}
<script src="__JS__/utils.js"></script>
<script src="__JS__/listtable.js"></script>
<script src="__JS__/Date/laydate.js"></script>
<div class="form-div">
    <form action="" name="searchForm" id="searchForm">
        <img src="__IMG__/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
        <input type="hidden" name="sort_by" id="sort_by" value='{$sort_by}' />
        <input type="hidden" name="sort_order" id="sort_order" value="{$sort_order}" />
        <input type="text" name="nickname" size="15" placeholder="用户昵称" value="{$smarty.get.nickname}"/>
        <input type="text" name="trade_id" size="20" placeholder="订单号" value="{$smarty.get.trade_id}"/>
        <input type="text" name="num_iid" size="20" placeholder="商品ID" value="{$smarty.get.num_iid}"/>
        维权时间：<input class="laydate-icon" id="start_create_time" name="start_create_time" value="{$smarty.get.start_create_time}">~<input class="laydate-icon" id="end_create_time" name="end_create_time" value="{$smarty.get.end_create_time}">
        <input type="text" name="item_title" placeholder="商品名" value="{$smarty.get.item_title}"/>
        <input type="submit" value="{$lang.button_search}" class="button" />
    </form>
</div>
<div class="list-div" id="listDiv">
    <form action="/tebiedemingzi/order/refundImport" method="post" enctype="multipart/form-data" style="float: left;">
        订单导入:
        <input name="import_file" type="file" id="import_file">
        <input style="width:100px;" type="submit" value="导入" id="importButton" class="button">
    </form>
    <table cellpadding="3" cellspacing="1" id="list-table">
        <tr>
            <th>订单号</th>
            <th>所属用户</th>
            <th>商品ID</th>
            <th>商品名</th>
            <th><a href="javascript:listTable.sort('refund_amount'); ">维权退款金额</a>{$sort_refund_amount|default:''}</th>
            <th><a href="javascript:listTable.sort('refund_income'); ">应还收益</a>{$sort_refund_income|default:''}</th>
            <th><a href="javascript:listTable.sort('create_time'); ">维权时间</a>{$sort_create_time|default:''}</th>
            <th><a href="javascript:listTable.sort('complete_time'); ">维权时间</a>{$sort_complete_time|default:''}</th>
        <tr>
        {foreach from=$list item=item}
        <tr>
            <td align="center">{$item.trade_id}</td>
            <td align="center">{$item.nickname}</td>
            <td align="center">{$item.num_iid}</td>
            <td align="center">{$item.item_title}</td>
            <td align="center">{$item.refund_amount}</td>
            <td align="center">{$item.refund_income}</td>
            <td align="center">{$item.create_time|date_format:"%Y-%m-%d %H:%M:%S"}</td>
            <td align="center">{$item.complete_time|date_format:"%Y-%m-%d %H:%M:%S"}</td>
        </tr>
        {foreachelse}
        <tr><td class="no-records" colspan="20">{$lang.no_records}</td></tr>
        {/foreach}
    </table>
    {if count($list)}
    <table id="page-table" cellspacing="0" style="border-top: none;">
        <tr>
            <td align="right" nowrap="true">
                {$page}
            </td>
        </tr>
    </table>
    {/if}
</div>
<script language="JavaScript">
    
    !function(){
	laydate({
            elem: '#start_create_time'
        });//绑定元素
	laydate({
            elem: '#end_create_time'
        });//绑定元素
    }();

</script>
{include file="../public/pagefooter.html"}